<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.hectarapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:launchMode="singleTop"
        android:screenOrientation="portrait" 
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        <!-- android:windowSoftInputMode="adjustResize"> -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <!-- <data android:scheme="hectar"/>  -->
            <!-- <data android:scheme="https" android:host="hectar.io" android:pathPrefix="/property" /> -->

        </intent-filter>

        <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="hectar" android:host="hectar" />
          </intent-filter>

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="hectar.io" android:pathPrefix="/property" />
            <data android:scheme="http" android:host="hectar.io" android:pathPrefix="/property" />
        </intent-filter>

        <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="hectar.io"  />
            <data android:scheme="http" android:host="hectar.io"  />
          </intent-filter>

          <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                 <data android:scheme="https" android:host="hectar.page.link"  />
                 <data android:scheme="http" android:host="hectar.page.link"  />
            </intent-filter>

      </activity>

      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
       <meta-data
          android:name="com.google.android.geo.API_KEY"
          android:value="AIzaSyCT1fWd-jFl61ZBIpl0BPEPPXJh4cbtN3M"/>
    </application>

</manifest>
